nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.sectionWrapper2 {
    color: blue;
    border: 1px;
    border-style: dotted;
    border-color: purple;
    background-color: beige;
}

.sectionWrapper2 h1 {
    color: black;
    background: lightgreen;
    font-style: italic;

}